<link rel="stylesheet" href="~/css/styles.css">

<h1>Dojo Survey</h1>
    <form action="/results" method="post">
    <div>
    <Label for="name">Name:</Label>
    <input type="text" name="name"></input>
    </div>
    
    
    <div>
    <label for="location">Location:</label>
    <select name="location">
        <option value="California">California</option>
        <option value="Hawaii">Hawaii</option>
        <option value="Nevada">Nevada</option>
    </select> 
    </div>

    <div>
    <label for="language">Favorite Language:</label>
    <select name="language">
        <option value="C#">C#</option>
        <option value="JavaScript">Javascript</option>
        <option value="Python">Python</option>
    </select>
    </div>

    <div>
        <label for="comment">Comments:</label>
        <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
     </div>
<button>Submit</button>
</form>