<h1>Results</h1>

<p>Name: @ViewBag.surveyInfo[0];</p>
<p>Location: @ViewBag.surveyInfo[1]</p>
<p>Favorite Language: @ViewBag.surveyInfo[2]</p>
<p>Comment: @ViewBag.surveyInfo[3]</p>

<a href="/">Home</a>