<a href="/">Home</a>
<h1>Add a Chef</h1>

@model Chefs

<form asp-action="InsertChef" asp-controller = "HomeController">
    <div class="row">
        <label asp-for="first_name"></label>
        <input asp-controller="first_name" type="text">
    </div>
    
    <div class="row">
        <label asp-for="last_name"></label>
        <input asp-controller="last_name" type="text">
    </div>

    <button>Add Chef</button>

</form>



