
button{
    margin-top: 40px;
    margin-left: 100px;
}

#search{
    font-size: 30px;
    width: 200px;
    border-radius: 50px;
    color: aqua;
    border-color: aqua;
}

#plus{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 50px;
    background-color: aquamarine;
    color: white;
    border-color: aquamarine;
}

#acc{
    font-size: 40px;
    background-color:blue;
    color:white;
}

.shadow{
    box-shadow: 5px 5px 5px black;
}