@{
    ViewData["Title"] = "Home Page";
}


<div class = "container">
    <h1>Random Passcode #@Context.Session.GetInt32("number") </h1>
    
    <h2>@TempData["passcode"]</h2>
    
    <a href="">Generate</a>
    <a href="/clear">Restart</a>
</div>
