@{
    ViewData["Title"] = "Home Page";
}


<div class = "container">
    <h1>Random Passcode # </h1>
    
    <h2 class="border border-primary"></h2>
    
    <a href="">Generate</a>
    <a href="">Restart</a>
</div>
